module.exports = {
  development: {
    client: 'mysql',
    connection: {
      host: '127.0.0.1',
      user: '<YOUR_MYSQL_USER>',
      password: '<YOUR_MYSQL_PASSWORD>',
      database: '<YOUR_DB>',
      charset: 'utf8',
    },
  }
};